.mat-drawer-container {
    height: 100vh;
}

.menu {
    cursor: pointer;
}

.sidenav {
    width: 300px;
}

.logo-container {
    border-bottom: 1px solid rgb(212, 212, 212);
    padding: 0 16px;
    min-height: 56px;
    display: flex;
    align-items: center;
}

.list-items {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    li {
        padding: 10px 16px;
        display: flex;
        align-items: center;
        cursor: pointer;

        &:hover {
            background-color: rgb(241, 241, 241);
        }

        &:focus {
            outline: none;
        }
    }

    mat-icon {
        margin: 0 10px 0 0;
    }
}


mat-toolbar, mat-toolbar-row {
    min-height: 56px;
    height: 56px;
}

.router-container {
    padding: 16px 16px 0 50px;
}

.logo {
    cursor: pointer;
}